:root {
  font-family: var(--font-main);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-bg);
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}